@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

html{
}

body{
    margin: auto;
}

nav{
    font-family: 'Open-sans', sans-serif;
}

h1{
    font-size: 58px!important;
    line-height: 1.15!important;
    letter-spacing: normal!important;
    /* font-family: 'Lora', serif!important; */
}

